# tensorflow is already installed inside the singularity container
# tensorflow[and-cuda]==2.18.0
matplotlib==3.9.4
tqdm==4.67.1
numpy==2.0.2

# scipy and scikit-image are required for FID calculation
# scipy is used for the linalg.sqrtm function (tf has, but it is really slow as of 2.18.0)
# scikit-image is used for the resize function (resizing with tf yields different results, for some reason)
scipy==1.13.1
scikit-image==0.24.0

# beaupy is used for the ExperimentRunner (choosing which tests to run in interactive mode)
beaupy==3.10.1
